  <div class="signup-container">
    <h3 class="card-title text-center mb-4">User Registration</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               formControlName="name"
               placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               formControlName="email"
               placeholder="Enter your email address"
               required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password"
               placeholder="Enter your password"
               required>
      </div>
      <button type="submit"
              class="btn btn-info btn-block mt-4">Submit</button>
    </form>
  </div>
